---
interface Params {
  year: number;
  id: string;
}

export async function getStaticPaths() {
  const pages = [
    {
      year: 2025,
      title: "Astro products",
      id: "astro-products",
    },
    {
      year: 2024,
      title: "The ultimate Astro handbook",
        id: "astro-handbook",
    },
  ];

  return pages.map(({ year, id }) => {
    return {
      params: { year, id },
      props: {  },
    };
  });
}

const { year, id } = Astro.params;
---
<h1>{year}: {id}</h1>