---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import getPostsByGroupCondition from "../../scripts/getPostsByGroupCondition";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return Object.entries(
    getPostsByGroupCondition(posts, (post) => post.data.date.getFullYear())
  )
    .sort(([yearA], [yearB]) => Number(yearB) - Number(yearA))
    .map(([year, yearGroup]) => ({
      params: { slug: year },
      props: { posts: yearGroup },
    }));
}

const { posts } = Astro.props;
const { slug } = Astro.params;
const pageTitle = slug ? `Archive for ${slug}` : "Archive";
---

<BaseLayout pageTitle={pageTitle}>

  {posts.map((post) => (
    <div>
      <h2>{post.data.title}</h2>
      <p>{post.data.date.toDateString()}</p>
    </div>
  ))}
</BaseLayout>
