---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About David";

---

<BaseLayout pageTitle={pageTitle}>
<link rel="canonical" href={new URL(Astro.url.pathname.replace(".html", ""), Astro.site)} slot="head" />
<p>David Gardiner has been creating software for over 25 years. He has a passion for continual learning and improving quality, and enjoys being in and creating environments where these happen. A Microsoft MVP (Development Technologies), he runs the <a href="https://www.meetup.com/Adelaide-dotNET/">Adelaide .NET User Group</a>.</p>

<p>Based in Adelaide, South Australia, he works as a Senior Developer at <a href="https://sixpivot.com.au/">SixPivot</a>. In his spare time, he contributes to numerous open source projects (including some of his own) and is a package moderator at <a href="https://Chocolatey.org">Chocolatey.org</a>.</p>
</BaseLayout>
	