---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About David";

---
<BaseLayout pageTitle={pageTitle}>
    <p>TODO: Add a short description of yourself.</p>
</BaseLayout>
	