---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import getPostsByGroupCondition from "../scripts/getPostsByGroupCondition";
import { DateTime } from "luxon";
import onlyCurrent from "../scripts/filters";

const pageTitle = "Archive";

const posts = (await getCollection("blog")).filter(onlyCurrent);
---

<BaseLayout pageTitle={pageTitle}>
  <link rel="canonical" href={new URL(Astro.url, Astro.site)} slot="head" />

  <h1>Posts by year</h1>
  <ul>
    {
      Object.entries(
        getPostsByGroupCondition(
          posts,
          (post) => DateTime.fromISO(post.data.date).year
        )
      )
        .sort(([yearA], [yearB]) => Number(yearB) - Number(yearA))
        .map(([year]) => (
          <li>
            <a href={`/${year}`}>{year}</a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
