---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "My learning blog";
const allPosts = Object.values(import.meta.glob('./**/*.md', { eager: true }))
    .sort((a: any, b: any) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
    .slice(0, 5);

function getExcerpt(content: string, length: number) {
    var excerptParagraphs = [];
        var currentLength = 0;
        var paragraphs = content.match(/<p>.*?<\/p>/gs) || [];
        for (var _i = 0, paragraphs_1 = paragraphs; _i < paragraphs_1.length; _i++) {
            var paragraph = paragraphs_1[_i];
            // Strip HTML from the paragraph
            var text = paragraph.replace(/(<([^>]+)>)/gi, "");
            if (currentLength > 0 && currentLength + text.length > length) {
                break;
            }
            excerptParagraphs.push(text);
            currentLength += text.length;
        }
        return excerptParagraphs.join(" ") + `\u2026`;
}

---
<BaseLayout pageTitle={pageTitle}>
    <p>Recent posts:</p>
    <ul>
        {allPosts.map(async (post: any) => 
            <div>
                {new Date(post.frontmatter.date).toLocaleDateString('en-AU', { year: 'numeric', month: 'long', day: 'numeric' })}
            <BlogPost url={post.url} title={post.frontmatter.title} /> 

            {getExcerpt(await post.compiledContent() as string, 200)}
            </div>
            )}
      </ul>
</BaseLayout>

