---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostExcerpt from "../components/BlogPostExcerpt.astro";

const pageTitle = "My learning blog";
const allPosts = (await getCollection("blog"))
  .sort(
    (a: any, b: any) =>
      new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
  )
  .slice(0, 5);
---

<BaseLayout pageTitle={pageTitle}>
  <p>Recent posts:</p>
  <ul>
    {
      allPosts.map(async (post) => (
        <div>
          {new Date(post.data.date).toLocaleDateString("en-AU", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })}
          <BlogPost url={`/${post.id}/`} title={post.data.title} />

          <BlogPostExcerpt body={post.body} length={200} />
        </div>
      ))
    }
  </ul>
</BaseLayout>
