---
import Social from './Social.astro';

---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
    <ul class="social-media-list">
      <li><a rel="me" href="https://github.com/flcdrg" title="GitHub"><svg viewBox="0 0 30 30" class="svg-icon grey"><use xlink:href="/minima-social-icons.svg#github"></use></svg></a></li>
      <li><a rel="me" href=""><svg viewBox="0 0 30 30" class="svg-icon orange"><use xlink:href="/minima-social-icons.svg#rss"></use></svg></a></li>
    </ul>
</footer>